*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #729be7;
}
#search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-left: 37.5%;
    width: 25%;
}
#app-container{
   position: relative;
   overflow: hidden;
   margin-top: 1%;
   margin-left: 37.5%;
   height: 400px;
   width: 25%;
   background-color: rgb(171, 191, 244);
   border-radius: 10px;
   padding-top: 3%;
   text-align: center;
}
#location,#temp{
   color: rgba(91, 104, 141, 0.916);
   padding-top: 5%;
   font-size: 2.5rem;
}
#climate>img{
    width: 100%;
    height: 150px;
}
#search-button{
    border: 2px solid rgb(4, 5, 5);
    height: 30px;
    width: 100px;
    margin-left: 2%;
    background-color: #b9d9d9;
    text-align:center;
    border-radius: 10px;
    transition: all 0.4 ease 0s;
}
#search-button:hover{
    color: rgb(0, 106, 255);
    background: #12f4f4;
    box-shadow: 2px 2px rgb(241, 108, 108);
}
#search-input{
    width: 250px;
    height: 30px;
    overflow: hidden;
    font-size: 15px;
    margin: 8px 0;
    padding: 8px 0;
    border-bottom: 3px solid #f93e89;
    color: white;
    outline: none;
    background: none;
}
input{
    border: none;
}